<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bài Tập 01 </string>
		<key>description</key>
		<string>Navigation cơ bản</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bài Tập 02</string>
		<key>description</key>
		<string>Điều hướng login cơ bản</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bài Tập 03</string>
		<key>description</key>
		<string>Nâng cao phần View</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bài Tập 04</string>
		<key>description</key>
		<string>Custom Navigation bar</string>
	</dict>
</array>
</plist>
