<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>thong</string>
		<key>password</key>
		<string>thong</string>
	</dict>
	<dict>
		<key>username</key>
		<string>hung</string>
		<key>password</key>
		<string>hung</string>
	</dict>
	<dict>
		<key>username</key>
		<string>phuoc</string>
		<key>password</key>
		<string>phuoc</string>
	</dict>
	<dict>
		<key>username</key>
		<string>hanh</string>
		<key>password</key>
		<string>hanh</string>
	</dict>
	<dict>
		<key>username</key>
		<string>duy</string>
		<key>password</key>
		<string>duy</string>
	</dict>
	<dict>
		<key>username</key>
		<string>bien</string>
		<key>password</key>
		<string>bien</string>
	</dict>
</array>
</plist>
