<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>🐶Chó</string>
	<string>🐱Mèo</string>
	<string>🐭Chuột</string>
	<string>🐹Hamster</string>
	<string>🐰Thỏ</string>
	<string>🦊Cáo</string>
	<string>🐻Gấu</string>
	<string>🐼Gấu trúc</string>
	<string>🐯Hổ</string>
	<string>🦁Sư tử</string>
</array>
</plist>
