<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>🍏Táo xanh</string>
	<string>🍎Táo đỏ</string>
	<string>🍐Lê</string>
	<string>🍊Cam</string>
	<string>🍋Chanh</string>
	<string>🍌Chuối</string>
	<string>🍉Dưa hấu</string>
	<string>🍇Nho</string>
	<string>🍓Dâu</string>
	<string>🍑Đào</string>
</array>
</plist>
