<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cafes</key>
	<array>
		<dict>
			<key>avatarName</key>
			<string>cafe</string>
			<key>nameTitle</key>
			<string>Coffe 1</string>
			<key>address</key>
			<string>01 To Huu</string>
			<key>km</key>
			<string>3km</string>
		</dict>
        <dict>
            <key>avatarName</key>
            <string>cafe1</string>
            <key>nameTitle</key>
            <string>Coffe 2</string>
            <key>address</key>
            <string>28 Trung Nu Vuong</string>
            <key>km</key>
            <string>8km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe2</string>
            <key>nameTitle</key>
            <string>Coffe 3</string>
            <key>address</key>
            <string>08 Nguyen Du</string>
            <key>km</key>
            <string>4km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe3</string>
            <key>nameTitle</key>
            <string>Coffe 4</string>
            <key>address</key>
            <string>09 Ton Dan</string>
            <key>km</key>
            <string>7km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe4</string>
            <key>nameTitle</key>
            <string>Coffe 5</string>
            <key>address</key>
            <string>02 Nguyen Nhu Hanh</string>
            <key>km</key>
            <string>3km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe5</string>
            <key>nameTitle</key>
            <string>Coffe 6</string>
            <key>address</key>
            <string>98 Tran Cao Van</string>
            <key>km</key>
            <string>8km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe6</string>
            <key>nameTitle</key>
            <string>Coffe 7</string>
            <key>address</key>
            <string>230 Dien Bien Phu</string>
            <key>km</key>
            <string>3km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe7</string>
            <key>nameTitle</key>
            <string>Coffe 8</string>
            <key>address</key>
            <string>89 Ton Duc Thang</string>
            <key>km</key>
            <string>10km</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe8</string>
            <key>nameTitle</key>
            <string>Coffe 9</string>
            <key>address</key>
            <string>89 Phan Dang Luu</string>
            <key>km</key>
            <string>1km</string>
        </dict>
	</array>
</dict>
</plist>
