<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Lion</string>
	<string>Shrimp</string>
	<string>Crocodile</string>
	<string>Snake</string>
	<string>Tiger</string>
	<string>Buffalo</string>
	<string>Cows</string>
	<string>Duck</string>
	<string>Chicken</string>
	<string>Bird</string>
	<string>Monkey</string>
	<string>Fish</string>
</array>
</plist>
