<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>🐸 Ếch</string>
	<string>🐳 Cá Heo</string>
	<string>🦋 Bướm</string>
	<string>🐖 Heo</string>
	<string>😹 Mèo</string>
	<string>🐉 Rồng</string>
	<string>🐏 Cừu</string>
	<string>🕷 Nhện</string>
	<string>🦖 Khủng Long</string>
	<string>🦡 Trâu</string>
</array>
</plist>
