<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Văn Tèo</string>
	<string>Phùng Thị Lung Linh</string>
	<string>Heo Thị Lợn</string>
	<string>Hà Líu Lo</string>
	<string>Hồ Mộng Điệp</string>
	<string>Nguyện Sống Vì Ma</string>
	<string>Nhân Chi Sơ</string>
	<string>Tính Cà Khịa</string>
	<string>Đậu Thị Lời</string>
	<string>Đỗ Tên Thừa</string>
	<string>Huỳnh Công Bá</string>
</array>
</plist>
