<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>🥀 Hoa Hồng</string>
	<string>🌼 Hoa Cúc</string>
	<string>🌺 Hoa Cẩm Chướng</string>
	<string>🌹 Hoa Hồng Đỏ</string>
	<string>🌸 Hoa Anh Đào</string>
	<string>🌻 Hoa Hướng Dương</string>
	<string>🍁 Phong Đỏ</string>
	<string>☘️ Cỏ Ba Lá</string>
	<string>🌵 Xương Rồng</string>
</array>
</plist>
