<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>🥦 Súp Lơ</string>
	<string>🍠 Khoai Lang</string>
	<string>🥗 Thập Cẩm</string>
	<string>🥕 Cà Rốt</string>
	<string>🥔 Khoai Tây</string>
	<string>🥒 Dưa Leo</string>
	<string>🍆 Cà Tím</string>
	<string>🍅 Cà Chua</string>
	<string>🌽 Bắp</string>
	<string>🌶 Ớt</string>
</array>
</plist>
