<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho1</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 2</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho2</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 3</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho3</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 4</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho4</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 5</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho5</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 6</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho6</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 7</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho7</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 8</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho8</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 9</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho9</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 10</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>cho10</string>
	</dict>
</array>
</plist>
