<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Van </string>
	<string>Van Nguyen</string>
	<string>Dinh Trong</string>
	<string>Tien Dung</string>
	<string>Ngoc Hai</string>
	<string>Duc Huy</string>
	<string>Xuan Truong</string>
	<string>Van Toan</string>
	<string>Cong Phuong</string>
	<string>Duy Manh</string>
</array>
</plist>
