<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Exercise 1</string>
		<key>description</key>
		<string>Autolayout Square</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 2</string>
		<key>description</key>
		<string>Autolayout Rectangle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 3</string>
		<key>description</key>
		<string>Autolayout vertical 2 squares</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 4</string>
		<key>description</key>
		<string>Autolayout vertical 3 squares</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 5</string>
		<key>description</key>
		<string>Autolayout vertical 4 squares</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 6</string>
		<key>description</key>
		<string>Autolayoout vertical 5 squares</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 7</string>
		<key>description</key>
		<string>Autolayout horizontal 5 squares</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 8</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 9</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 10</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 11</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 12</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 13</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Exercise 14</string>
		<key>description</key>
		<string></string>
	</dict>
</array>
</plist>
