<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Văn Tí</string>
	<string>Lê Thị Linh</string>
	<string>Nguyễn Hồng Sơn</string>
	<string>Hồ  Văn Tiến</string>
	<string>Nguyễn Văn Hậu</string>
</array>
</plist>
