<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ex 01</string>
		<key>description</key>
		<string>Simple love</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ex 02</string>
		<key>description</key>
		<string>Simple love</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ex 03</string>
		<key>description</key>
		<string>Simple love</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ex 04</string>
		<key>description</key>
		<string>Simple love</string>
	</dict>
</array>
</plist>
