<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Obama</string>
	<string>Putin</string>
	<string>Donal Trump</string>
	<string>Jeanne</string>
	<string>AlexSender</string>
	<string>AlexSender1</string>
	<string>AlexSender2</string>
	<string>AlexSender4</string>
</array>
</plist>
