<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cây Thông</string>
	<string>Cây Tùng</string>
	<string>Cây Bách</string>
	<string>Cây Dương Sĩ</string>
	<string>Bí </string>
	<string>Bầu </string>
	<string>Ngô</string>
</array>
</plist>
