<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foods</key>
	<array>
		<dict>
			<key>title</key>
			<string>Vegetable</string>
			<key>sub-title</key>
			<string>Food-Sub-Title</string>
			<key>image</key>
			<string>avatar</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Fruit</string>
			<key>sub-title</key>
			<string>Food-Sub-Title2</string>
			<key>image</key>
			<string>a</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pork</string>
			<key>sub-title</key>
			<string>Food-Sub-Title3</string>
			<key>image</key>
			<string>b</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Beef</string>
			<key>sub-title</key>
			<string>Food-Sub-Title4</string>
			<key>image</key>
			<string>c</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DuckMeat</string>
			<key>sub-title</key>
			<string>Food-Sub-Title5</string>
			<key>image</key>
			<string>d</string>
		</dict>
	</array>
	<key>castles</key>
	<array>
		<dict>
			<key>title</key>
			<string>Duck</string>
			<key>sub-title</key>
			<string>Castle-Sub-Title1</string>
			<key>image</key>
			<string>avatar</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tiger</string>
			<key>sub-title</key>
			<string>Castle-Sub-Title2</string>
			<key>image</key>
			<string>a</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Lion</string>
			<key>sub-title</key>
			<string>Castle-Sub-Title3</string>
			<key>image</key>
			<string>b</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Monkey</string>
			<key>sub-title</key>
			<string>Castle-Sub-Title4</string>
			<key>image</key>
			<string>d</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Buffalo</string>
			<key>sub-title</key>
			<string>Castle-Sub-Title5</string>
			<key>image</key>
			<string>c</string>
		</dict>
	</array>
	<key>items</key>
	<array>
		<dict>
			<key>title</key>
			<string>Cup</string>
			<key>sub-title</key>
			<string>items-Sub-Title1</string>
			<key>image</key>
			<string>avatar</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Washing Machine</string>
			<key>sub-title</key>
			<string>items-Sub-Title2</string>
			<key>image</key>
			<string>d</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Television</string>
			<key>sub-title</key>
			<string>items-Sub-Title3</string>
			<key>image</key>
			<string>a</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Table</string>
			<key>sub-title</key>
			<string>items-Sub-Title4</string>
			<key>image</key>
			<string>c</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Chair</string>
			<key>sub-title</key>
			<string>items-Sub-Title5</string>
			<key>image</key>
			<string>b</string>
		</dict>
	</array>
</dict>
</plist>
