<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mai Vo Ngoc Hien</string>
	<string>Nguyen Thi Tien</string>
	<string>Le Van Luyen</string>
	<string>Tran Van Tuan</string>
	<string>Nguyen Thi Be</string>
	<string>Le Thi Tien</string>
	<string>Nguyen Van Be</string>
	<string>Nam Tan Trung</string>
	<string>Tran Van Ngo</string>
	<string>Ngoc Thi Trai</string>
</array>
</plist>
