<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Van A</string>
	<string>Nguyen Thi B</string>
	<string>Nguyễn Hồng C</string>
	<string>Lê Văn N</string>
	<string>Nguyễn Thi H</string>
	<string>Cường Văn Chí</string>
	<string>Chí Văn Tôn</string>
	<string>Dương Văn Cương</string>
	<string>Chí Văn Phèo</string>
	<string>Buì Thị Nở</string>
	<string>Khanh Văn Nhu</string>
</array>
</plist>
