<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Van A</string>
	<string>Nguyen Van B</string>
	<string>Co Co</string>
	<string>Duong Qua</string>
	<string>Tieu Phong</string>
	<string>Mo Dung</string>
	<string>Bao Thanh Thien</string>
	<string>Pham Duc Anh</string>
	<string>Bui Thien Quan</string>
	<string>Tran Minh Hung</string>
	<string>Tran Anh Duc</string>
	<string>Bui Dinh Huy</string>
	<string>Van Viet Bao</string>
	<string>Bui Huu Du</string>
</array>
</plist>
