<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Nguyễn Thị Líu Lo</string>
		<key>phoneNumber</key>
		<string>0765354621</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoàng Hí Hưởng</string>
		<key>phoneNumber</key>
		<string>012345678</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lê Thị Lên</string>
		<key>phoneNumber</key>
		<string>098725172</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nguyễn Thị Xuống</string>
		<key>phoneNumber</key>
		<string>121312309</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mộng Thị Mơ</string>
		<key>phoneNumber</key>
		<string>020301931</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nguyễn Văn Tèo</string>
		<key>phoneNumber</key>
		<string>012928237</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vỗ Văn Vênh</string>
		<key>phoneNumber</key>
		<string>098828281</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phùng Phung Phí</string>
		<key>phoneNumber</key>
		<string>067667716</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Văn Mốt</string>
		<key>phoneNumber</key>
		<string>245125524</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chí Văn Phèo</string>
		<key>phoneNumber</key>
		<string>1288782118</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trần Trẻ Trung</string>
		<key>phoneNumber</key>
		<string>1919292982</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lê Thị Lung Linh</string>
		<key>phoneNumber</key>
		<string>1231293891</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nguyễn Văn Tèo</string>
		<key>phoneNumber</key>
		<string>2131241244</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Đào Văn Vàng</string>
		<key>phoneNumber</key>
		<string>2318388283</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>9818272736</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>23712631273</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>2u138712377</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>2313124444</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>1928826666</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>7878787878</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>phoneNumber</key>
		<string>11232143535</string>
	</dict>
</array>
</plist>
