<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>bat_man</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 2</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>super_man</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 3</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>wonder_woman</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 4</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>hulk</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>thanos</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>iron_man</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>Captain</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>black_panter</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name 1</string>
		<key>password</key>
		<string>123</string>
		<key>avatar</key>
		<string>thor</string>
	</dict>
</array>
</plist>
