<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cho con
Gánh me một lần</string>
	<string>Cả đời mẹ đã
Tảo tần gánh con.
Cho con
Gánh mẹ đầu non,
Cả lòng mẹ đã
Gánh con biển trời...</string>
	<string>Ngày xưa
Mẹ gánh à ơi!
Con xin gánh lại
Những lời mẹ ru.
Đường đời
Sương gió mịt mù,
Vì con hạnh phúc
Chẳng từ gian nan...</string>
	<string>Để con
Gánh mẹ đừng can,
Sợ khi mẹ mất
Muộn màng gánh ai?</string>
	<string>Cho con
Gánh cả tháng dài,
Gánh qua năm ròng
Những ngày đắng cay.</string>
	<string>Cho con... gánh cả đôi vai,
Thân cò lặn lội
Sớm mai vai gầy.
Mẹ già lá sắp xa cây
Lỡ đâu lá rụng
Tội này gánh sao?</string>
	<string>Mẹ ơi sóng biển dạt dào,
Con sao gánh hết
Công lao một đời.
Bông hồng
Cài áo đúng nơi,
Đâu bằng bông hiếu
Giữa trời bao la.
Cho con gánh lại mẹ già,
Để sau người gánh
Chính là con con...
Cho con
Gánh me một lần,
Cả đời mẹ đã
Tảo tần gánh con.
Cho con
Gánh mẹ đầu non,
Cả…</string>
</array>
</plist>
