<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Cho</string>
		<string>Meo</string>
		<string>Ga</string>
		<string>Vit</string>
		<string>Heo</string>
	</array>
	<array>
		<string>Vit Quay</string>
		<string>Bun Bo</string>
	</array>
</array>
</plist>
