<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<array>
		<string>Ba</string>
		<string>Ban</string>
		<string>Bắc</string>
		<string>Bình</string>
		<string>Biên</string>
		<string>Bông</string>
	</array>
	<key>A</key>
	<array>
		<string>An</string>
		<string>Anh</string>
		<string>Ánh</string>
		<string>Ân</string>
		<string>Anns</string>
	</array>
	<key>C</key>
	<array>
		<string>Công</string>
		<string>Cò</string>
		<string>Cường</string>
	</array>
	<key>D</key>
	<array>
		<string>Dung</string>
		<string>Dương</string>
		<string>Duy</string>
	</array>
</dict>
</plist>
