<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>vien</string>
		<key>password</key>
		<string>vien123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>hien</string>
		<key>password</key>
		<string>hien123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>hanh</string>
		<key>password</key>
		<string>hanh123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>tien</string>
		<key>password</key>
		<string>tien123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>an</string>
		<key>password</key>
		<string>an123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>thang</string>
		<key>password</key>
		<string>thang123</string>
	</dict>
</array>
</plist>
