<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userName</key>
		<string>a</string>
		<key>password</key>
		<string>a</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>trantien</string>
		<key>password</key>
		<string>tientran</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>Admin</string>
		<key>password</key>
		<string>Admin123</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>b</string>
		<key>password</key>
		<string>b</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>c</string>
		<key>password</key>
		<string>c</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>d</string>
		<key>password</key>
		<string>d</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>e</string>
		<key>password</key>
		<string>e</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>f</string>
		<key>password</key>
		<string>f</string>
	</dict>
	<dict>
		<key>userName</key>
		<string>abcd</string>
		<key>password</key>
		<string>abcd</string>
	</dict>
</array>
</plist>
