<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Caffes</key>
	<array>
		<dict>
			<key>avatarName</key>
			<string>cafe</string>
			<key>nameTitle</key>
			<string>Caffe Leo</string>
			<key>address</key>
			<string>01 Bạch Đằng, Đà Nẵng</string>
		</dict>
        <dict>
            <key>avatarName</key>
            <string>cafe1</string>
            <key>nameTitle</key>
            <string>Caffe Xanh</string>
            <key>address</key>
            <string>14 Tố Hữu, Đà Nẵng</string>
        </dict><dict>
            <key>avatarName</key>
            <string>cafe2</string>
            <key>nameTitle</key>
            <string>Caffe NBT</string>
            <key>address</key>
            <string>01 Tôn Đức Thắng, Đà Nẵng</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe3</string>
            <key>nameTitle</key>
            <string>Caffe Bắp</string>
            <key>address</key>
            <string>01 Quang Trung, Đà Nẵng</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe4</string>
            <key>nameTitle</key>
            <string>Caffe Win</string>
            <key>address</key>
            <string>01 Hải Phòng, Đà Nẵng</string>
        </dict>
        <dict>
            <key>avatarName</key>
            <string>cafe5</string>
            <key>nameTitle</key>
            <string>Caffe Cốc</string>
            <key>address</key>
            <string>01 Phan Chau Trinh, Đà Nẵng</string>
        </dict>
	</array>
</dict>
</plist>
