<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bruce Wayne</string>
	<string>SonGo Ku</string>
	<string>Obama</string>
	<string>Putin</string>
	<string>ScopFill</string>
</array>
</plist>
