<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>DOG</string>
		<string>CAT</string>
		<string>TIGER</string>
		<string>LION</string>
		<string>BAT</string>
		<string>BUTTERFLY</string>
	</array>
	<array>
		<string>HAMBUGER</string>
		<string>PIZZA</string>
		<string>SUSHI</string>
		<string>BANH MY</string>
	</array>
</array>
</plist>
