<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>password</key>
		<string>123</string>
		<key>username</key>
		<string>Nam</string>
	</dict>
	<dict>
		<key>username</key>
		<string>Binh</string>
		<key>password</key>
		<string>123</string>
	</dict>
	<dict>
		<key>password</key>
		<string>123</string>
		<key>username</key>
		<string>An</string>
	</dict>
	<dict>
		<key>password</key>
		<string>123</string>
		<key>username</key>
		<string>Nguyen Van B</string>
	</dict>
</array>
</plist>
