<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Hoa Hồng</string>
	<string>Hoa Đào</string>
	<string>Hoa Cúc</string>
	<string>Hoa Đồng Tiền</string>
	<string>Hoa Hướng Dương</string>
	<string>Hoa Vạn Thọ</string>
	<string>Hoa Đinh Lăng</string>
	<string>Hoa Lan</string>
	<string>Hoa Cẩm Chướng</string>
	<string>Hoa Xương Rồng</string>
</array>
</plist>
