<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cà Rốt</string>
	<string>Khoai Tây</string>
	<string>Khoai Lang</string>
	<string>Đậu Hà Lan</string>
	<string>Hành</string>
	<string>Bắp Cải</string>
	<string>Ớt</string>
	<string>Bắp</string>
	<string>Cà Chua</string>
	<string>Cà Tím</string>
</array>
</plist>
