<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tien Dung</string>
	<string>Dinh Trong</string>
	<string>Duy Manh</string>
	<string>Ngoc Hai</string>
	<string>Duc Huy</string>
	<string>Huy Hung</string>
	<string>Hung Dung</string>
	<string>Quang Hai</string>
	<string>Cong Phuong</string>
	<string>Van Duc</string>
	<string>Tan Sinh</string>
</array>
</plist>
